.footer {
    margin-top: 30px;
    font-size:6px;
    text-align: right;
}
.footer a {
    color: #AAA;
}

h1 {
    background-color: #EEE;
}
h2 {
    background-color: #EEE;
}
h3 {
    padding: 10px;
    border: 1px dashed #EEE;
    font-weight: normal;
}